<%# Removed Flash because it was in application.html.erb %>
<div class= "row">
	<div class = "span6 offset3">
		<div class = "well">
			<%# This is a rails method %>
			<%= image_tag @pin.image %>

			<p>
			  <%= @pin.description %>
			</p>
			<p>
			  <%= @pin.user.name %>
			</p>
			<% if current_user == @pin.user %>
				<%= link_to 'Edit', edit_pin_path(@pin) %> |
				<%# this is how to link to previous page from pagination %>
				<%= link_to 'Back', :back %> |
				<%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
	</div>
</div>



